extends ../layout.pug
block content
    .whole-page(style="background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);")
        .outer-modal
            .upper
                h1 Enter Category for Product
            .lower
                form(method='post' id='addCategory')
                    input.add-category-input(type='text' name='product_name' placeholder='Name')
                    br
                    br
                    input.add-category-submit(type='submit' value='submit')
            if (error.length > 0)
                .alert.alert-danger.alert-dismissible
                    a.close(href='#' data-dismiss='alert' aria-label='close') &times;
                    strong Oops!
                    |  #{error}
