extends ../layout.pug

block content
    .container
        .row.top
            .col-md-4.holder2
                img(src=image)
            .col-md-4
            .col-md-4
                h3=product.name
                h1 &#8377; #{product.price}
                br
                input(type="submit" value="Add to cart")
